body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  display: flex;
}

#region-select {
  display: flex;
  flex-direction: column;
}

button.region-option {
  width: 50px;
}
